<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Grades')}"></form>
<body>
<form th:replace="~{index.html::header}"></form>
<section>

</section>
<div class="grade-view">
    <div class="grade-view-image" >

        <img  th:src="${#strings.isEmpty(responseUser.imageURL) ? '/assets/img/profile.jpg' : responseUser.imageURL}"
              alt="User Image" class="profile-image-update"/>
    </div>
    &emsp;
    <h2 class="edit" th:text="${responseUser.firstName + ' ' + responseUser.lastName}"></h2>


</div>
<section>

</section>
<div class="grades-table" th:each="gradeDto : ${grades}">
    <a class="user-text"
       th:href="@{/courses/{courseId}/details (courseId =${gradeDto.getCourse().courseId})}"
       th:text="${gradeDto.getCourse().title}"></a>

    <table class="grades small">
        <thead>
        <tr>
            <th>Lecture Name</th>
            <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${gradeDto.grades}">
            <td th:text="${entry.key.title}"></td>
            <td th:if="${entry.value!=null}" th:text="${entry.value} + '%'"></td>
            <td th:unless="${entry.value!=null}" th:text="'---'"></td>
        </tr>
        </tbody>
    </table>

    <div class="average-grade-container">
        <p class="average-grade" th:text="'Average Grade for Course: '"></p>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <p class="average-grade" th:text=" ${gradeDto.abvGrade} +'%'"></p>
    </div>

    <hr/>
</div>

</body>
</html>