<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Register')}"></form>



<body>

<!-- ======= Header ======= -->
<form th:replace="~{index.html::header}"></form>
<section>

</section>

<div class="form">
    <div class="thumbnail"><img src=" "/></div>
    <form  class="form login-form active-form" action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
        <div class="form-control">
            <input name="email" class="username-login" type="text" placeholder="email" autocomplete="chrome-off"/>
            <label class="error" th:errors="*{email}">Username error placeholder</label>
            <small></small>
        </div>

        <div class="form-control">
            <input name="password" class="password-login"  type="password" placeholder="password" autocomplete="chrome-off off"/>
            <label class="error" th:errors="*{password}">Password error placeholder</label>
            <small></small>
        </div>

        <button type="submit" >login</button>
    </form>
</div>





</body>
</html>