<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Profile')}"></form>
<body>
<form th:replace="~{index.html::header}"></form>


<section>

</section>



<div class="submission-section" th:each="submissionDto : ${submissionList}">
    <a th:href="@{/courses/{courseId}/details (courseId =${submissionDto.course.id})}" class="lecture-title" th:text="${submissionDto.course.title}"></a>

    <table class="submission-table">
        <thead>
        <tr>
            <th>Student name</th>
            <th>Lecture name</th>
            <th>View solution</th>
            <th>Grade</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="submission : ${submissionDto.submission}" class="submission-row">
            <td th:text="${submission.user.firstName + ' ' + submission.user.lastName}"></td>
            <td th:text="${submission.assignment.lecture.title}"></td>

            <td>

                <a th:href="${submission.submissionURL}"  download>View solution</a>
            </td>
            <td>
                <div class="grade-form">

                    <form  th:action="@{/lecture/submission/{id}/update (id=${submission.id})}" th:object="${submissionDto}" method="post">
                        <input type="hidden" name="submissionId" th:value="${submission.id}" />
                        <input type="text" name="grade" th:field="${submissionDto.grade}" />
                        <button type="submit">Submit Grade</button>
                    </form>


                </div>
            </td>

        </tr>

        </tbody>
    </table>
</div>
<br/>

</body>
</html>